# ── Supabase ───────────────────────────────────────────────
# Project Settings → API en tu dashboard de Supabase
VITE_SUPABASE_URL=https://xythgxxcztyxijpllktf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5dGhneHhjenR5eGlqcGxsa3RmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0MDAzNjcsImV4cCI6MjA5Mjk3NjM2N30.22sufqWV4c7dWzQN7w_sxGYJhUU0kV5CCyiNQDl-KXA
